:root {
    --main-bg-color: #0596FF;
    --secondary-color: #00a39b;
    --complementary-color: #0073e6;
}

body {
    font-family:'Poppins', sans-serif;
    background-color: var(--main-bg-color);
}

h1 {
    
}

p {

}

a {

}