/* Partie footer contact */

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px 0;
    justify-content: space-between;
    background-color: #ffffff;
    font-family: Arial, sans-serif;

    #title {
        font-size: xx-large;
        text-align: center;
        font-weight: 545;
    }

    img {
        width: 32px;
        margin-right: 10px;
        flex-wrap: 1;
    }
    input, select {
        height: 50px;
    }

    
}

.footer-chev {
    box-shadow: none;
    width: 42px;
    cursor: pointer;
}

.gauche, .droite {
    flex: 1;
    flex-direction: column;
    margin: 20px;
}

.droite img {
    width: auto;
    height: 203px;
    box-shadow:none;
}

.box-contact {
    transform-origin: top;
    transform: scaleY(0);
    height: 0;
    transition: transform 0.2s ease-in-out;
}

.box-contact.active {
    transform: scaleY(1);
}


.footerBlock {
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    h2 {
        color: #000000;
        margin-bottom: 20px;
    }

    input[type="text"], select, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 4px;
    }

    input[type="email"], select, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 4px;
    }

    button {
        padding: 10px 20px;
        background-color: var(--complementary);
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--complementary);
    }
}

.box-contact {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 992px) {
    .box-contact {
        flex-direction: row;
    }
}
