main {
    .reponse {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;

        a, a:active, a:visited, a:focus {
            box-shadow: none;
            width: 300px;
            background-color: var(--secondary);
            color: white;
            &:hover {
                background-color: var(--complementary);
                color: white;
            }
        }
    }
}