/* Partie des 4 secteurs */


#accroche {
    img {
        width: 200px;
        height: 200px;
    }
}

#arguments {
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

.arg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    p {
        max-width: 500px;
    }

    img {
        width: 200px;
        height: 200px;
    }
}

#reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1200px) {
    #arguments {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        text-align: center;
    }

    #reverse {
        flex-direction: column;
    }

    .arg {
        flex-direction: column;
        gap: 20px;

        p {
            max-width: 300px;
            text-align: center;
        }
    }
}


